* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    /* border: 1px solid red; */
    max-width: 100vw;
    height: auto;
}
.header {
    /* border: 1px solid yellow; */
    max-width: 100vw;
    height: 70px;
    margin-top: 1rem;
    position: relative;
    /* background-color: rgba(216, 215, 215, 0.329); */
}
.yes {
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    right: 20px;
    bottom: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.no {
    /* border: 1px solid red; */
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 0 auto;

    transform: rotate(-45deg);
}
.ray {
    /* border: 1px solid green; */
    width: 30px;
    height: 3px;
    background-color: black;
    margin: -2px auto;
    
    transform: rotate(45deg);
}
.me {
    margin-top: 10px;
    background-color: rgba(51, 50, 50, 0.664);
}
.word {
    text-align: center;
}
.pic {
    margin-top: 2rem;
    width: 300px;
    /* border: 1px solid yellow; */
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    /* background-image: url(wakky/basketball.jpg); */
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(253, 249, 249, 0.952);
}